h1{
    text-align: center;
    margin: 2rem;
}
h2{
    text-algin: center;
    margin: 1rem 0;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0 ;
}

.container-year{
    padding: 2em;
    background-color: beige;
    width: 86%;
    margin: 0 auto;
    border-radius: 20px;
}
.paso{
    width: 70%;
    padding: 2rem;
    background-color: #c25939;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
    
.izquierda{
    margin: 2rem auto 2rem 0;
}

.derecha{
    margin: 2rem 0 2rem auto;
}

.container-mitad{
    display: flex; 
}

/*
.container-materia{
    display: flex;  
    justify-content: space-around;  
}
.container-mitad{
    width: 50%;
}

.paso h3 {
    margin-top: 1rem;
    color: #0d6efd;
}


.paso p {
    margin-bottom: 1rem;
    color: #555;
}


.paso form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.paso form button[type="submit"]:hover {
    background-color: #084dc4;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 2rem;
    color: #333;
}
.centrar  {
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.materia {
    margin-bottom: 3rem;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

div > div:nth-of-type(1)::before {
    font-weight: bold;
    color: #0d6efd;
    display: block;
    margin-bottom: 1rem;
}

div > div:nth-of-type(2)::before {
    font-weight: bold;
    color: #0d6efd;
    display: block;
    margin-bottom: 1rem;
}

div > div:nth-of-type(3)::before {
    font-weight: bold;
    color: #0d6efd;
    display: block;
    margin-bottom: 1rem;
}

h2, h3, h4, h5 {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

form input[type="text"] {
    width: 50%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*/